body {
    font-family: sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.headerLink {
    font-size: 18px;
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}



a {
  text-decoration: none;
  color: inherit;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882F8;
    color: #F9FAF8;
}


.top {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 10%;
}

.topLeft {
}

.topRight {
  margin: auto;
  flex: 1;
}


.middle1 {
  padding: 5%;
}

.info {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

.middle2 {
    background-color: #E5E7EB;
    padding: 10%;
}

.bottom {
    background-color: #3882F8;
    color: #F9FAF8;
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

.bottomButton {
  display: flex;
  align-items: center;
}

.bibleContainer {
    display: flex;
    justify-content: flex-end;
}

.bible {
    width: 75%;
}